sudo: true
language: cpp
matrix:
  include:
  - env: CLANG_VERSION=3.7
    os: linux
    compiler: clang
    addons:
      apt:
        packages:
        - clang-3.7
        - wget
        - curl
        - unzip
        sources:
        - ubuntu-toolchain-r-test
        - llvm-toolchain-precise
  - env: GCC_VERSION=5.1
    os: linux
    compiler: gcc
    addons:
      apt:
        packages:
        - g++-5
        - wget
        - curl
        - unzip
        sources:
        - ubuntu-toolchain-r-test
before_install:
- if [ -n "$GCC_VERSION" ]; then export CXX="g++-${GCC_VERSION}" CC="gcc-${GCC_VERSION}";
  fi
- if [ -n "$CLANG_VERSION" ]; then export CXX="clang++-${CLANG_VERSION}" CC="clang-${CLANG_VERSION}";
  fi
- which $CXX
- which $CC
- sh scripts/cmake-install.sh
- if [ -n "$CLANG_VERSION" ]; then sh scripts/clang-postinstall.sh; fi
- if [ -n "$CLANG_VERSION" ]; then sh scripts/libcxx-install.sh; fi
- sh scripts/gtest-install.sh
install:
- export CXX_FLAGS=""
- export CXX_LINKER_FLAGS=""
- if [ -n "$CLANG_VERSION" ]; then CXX_FLAGS="${CXX_FLAGS} -stdlib=libc++ -I/usr/include/c++/v1/"; fi
- if [ -n "$CLANG_VERSION" ]; then CXX_LINKER_FLAGS="${CXX_FLAGS} -L/usr/lib/ -lc++abi"; fi
- mkdir build
- (cd build && cmake .. -DCMAKE_CXX_FLAGS="${CXX_FLAGS}" -DCMAKE_EXE_LINKER_FLAGS="${CXX_LINKER_FLAGS}")
script:
- make -C build
- build/test/bspec_test
branches:
  only:
  - master